
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Exo:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bgedu{
  background-color: rgb(0 0 0 / 0.25);
}

.btn {
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  background-color: rgb(0 0 0 / 0.15);
}
.bg-about{
  background: url('./assets/img_about.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top:100px;
}
.btn:hover {
  background-color: rgb(0 0 0 / 0.20);
}

.gradient{
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 0.5rem;
  border-radius: 100%;
  font-weight: 900;
  background-color: rgb(0 0 0 / 0.15);
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] max-[500px]:text-[22px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}